<h1 ng-if="list.new">Hello, you don't seem to have any lists yet, so I created one for you. What do you want to call it?</h1>
<h1 ng-if="!list.new">Hello, you are now editing your list called:</h1>
<form>
  <input class="input-inline" ng-if="list.new">
  <input class="input-inline" ng-if="!list.new" value="{{ list.name }}">
</form>
<div class="list-container">
  <div class="list-negatives">
    <h2>Negatives</h2>
    <div class="list-column">
      <div class="list-item" ng-repeat="item in list.negatives">{{ item }}</div>
    </div>
  </div>
  <div class="list-positives">
    <h2>Positives</h2>
    <div class="list-column">
      <div class="list-item" ng-repeat="item in list.positives">{{ item }}</div>
    </div>
  </div>
</div>
