@import (reference) '/src/client/less/colors';

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

main.application {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: @color-background;
}

.back-to-lists {
  position: absolute;
  left: 40px;
  top: 40px;
}
